:root{
    --primarycolor:#ff274b;
    --color:#ff27bc;
    --secandrycolor: #f7bcf7;
    --lightcolor: #ffffff;
    --bgcolor-1: #171a1c;
    --bgcolor-1: #22282a;
    --padding: 8%;
        
    }

body {
    margin: 0;
    font-family: 'Cairo', sans-serif;
    /* background: linear-gradient(to bottom, #f0f9ff, #ffffff); */
    background: linear-gradient(to bottom, #ff274b, #171a1c);


    color: #222;

  }
  *{
padding: 0;
margin: 0;
box-sizing: border-box;


  }
body {
    margin: 0;
    font-family: 'Cairo', sans-serif;
    /* background: linear-gradient(to bottom, #f0f9ff, #ffffff); */
    background: linear-gradient(to bottom, #ff274b, #171a1c);


    color: #222;

  }
  *{
padding: 0;
margin: 0;
box-sizing: border-box;


  }

   /* start HEADER */
   
      header {


            /* background-color: #0077cc; */
background: linear-gradient(to bottom, #ff274b,#ff274b);
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
border-radius: 15px;
            color:var(--lightcolor);
            padding: 20px 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 4px 10px rgba(0,0,0,0.15);
        }
          header .logo {
            font-size: 1.8rem;
            font-weight: 700;
            display: flex;
            align-items: center;
            gap: 10px;
        }
        header .logo span {
            color:var(--bgcolor-1);
        }
        nav a {
            color: var(--lightcolor);
            margin-left: 25px;
            font-weight: 600;
            text-decoration: none;
            transition: color 0.3s ease;
        }
        nav a:hover {
            color: #ffd700;
        }
        .div-navber-login{
          max-width: 80%;
      margin-left: 50px;
border-top-left-radius: 10px;
background-color:#444;
border-top: 5px groove royalblue;
border-bottom: 5px outset whitesmoke;

        }
        .div-navber-login a :hover{
             color: var(--color);


        }


        .div-navber-login a{
          color: #ffd700;
            font-weight: 600;
            text-decoration: none;
            transition: color 0.3s ease;

          
        }
              .divs-text-services{
            padding-left: 10px;
           padding-right: 5px; 
/* background-color:#0077cc; */
    direction: rtl;
    color: var(--lightcolor);
    transition: color 0.3s ease;


        }
       .h2-div-text-services{
        color: var(--primarycolor);
        text-align: center;
    font-size: 1.8rem;
     font-weight: 700;

        }
    

   /* END HEADER  */




#container-order-section{
  margin-top: 10px;
}

.container {
  text-align: center;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  width: 320px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
